.splide__autoplay button{
    display: none;
}
.review-box{
    position: relative;
    top: 50px;
    right: 30px;
    
}
.splide{
    height: 800px;
    background-color: fafafa;
    margin: 15px 0px;
} 
@media (min-width: 481px) and (max-width: 767px) {
  
        
  }
  
  /* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */
  
  @media (min-width: 320px) and (max-width: 480px) {
    
       
        .splide__slide{
            width: 400px;
        }
    
  }
  @media (min-width: 768px) and (max-width: 1024px) {
  
    /* CSS */

        .splide__slide{
            width: 800px;
        }
  }
  