.first{
    margin: 20px 5px;
}
.second{
    margin: 20px 5px;
}
.image-container{
    display: flex;
    justify-content: center;
    cursor: pointer;
}
@media (min-width: 320px) and (max-width: 480px) {
  
    .image-container{
        display: block;
        cursor: pointer;
    }
    
}
@media (min-width: 481px) and (max-width: 767px) {
  
    .image-container{
        display: block;
        cursor: pointer;
    }
    
    
  }
  
  