.app-icon-footer{
    width: 180px;
    height: 60px;
    position: relative;
    top: 25px;
}
.footer-des h5{
    margin-top: 25px;
}
.footer p{
    margin: 0px;
    padding: 0px;
    color: gray;
}
.footer{
    background-color: #000;
    color:#fafafa;
    
}
.ft-container{
    padding-top: 25px;
    padding-bottom: 60px;
    padding-left: 50px;
    padding-right: 50px;
}
.copyright{
    position: relative;
    top: 55px;
}
@media (min-width: 320px) and (max-width: 480px) {
        .footer-form{
            visibility: hidden;
        }
    
}
@media (min-width: 481px) and (max-width: 767px) {
    .footer-form{
        visibility: hidden;
    }

    
}
  
  